header {
  height: 100px;
  width: 100%;
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100px;
}
.img-logo {
  width: 100%;
  height: 100%;
}

.header-info {
  display: flex;
  color: white;
  padding-top: 20px;
}

.header-nav-link:hover {
  text-decoration: underline;
  color: blanchedalmond;
}

.header-nav-link {
  text-decoration: none;
  margin: 10px;
  color: white;
}

.active-link {
  text-decoration: underline;
  color: blanchedalmond;
}

ul {
  list-style-type: none;
}

.main-page {
  width: 100%;
  height: 700px;
  background: url("img/main_img.jpg") no-repeat center;
}

.login-input {
  background-color: transparent;
  color: bisque;
}

.login-label {
  color: bisque;
}

.login-button {
  width: 100px;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: bisque;
}

button:hover {
  cursor: pointer;
  background-color: rgb(237, 202, 159);
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 240px;
}

.form-login-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.forma-input {
  display: flex;
  justify-content: space-between;
}

.forma-button {
  display: flex;
  justify-content: center;
}
