p,
h1,
h2 {
  padding: 0px;
  margin: 0px;
}
.main-about-us {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}
.more-about-us {
  max-width: 800px;
}
h1 {
  text-align: center;
  padding: 10px;
}
h2 {
  color: blue;
  padding: 5px;
}
.about-us {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.photo {
  width: 250px;
}
.main-blok {
  width: 250px;
}
.p-text {
  text-align: start;
}

footer {
  height: 100px;
  background-color: #6c6d6f;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.social-icon {
  height: 50px;
  max-width: 50px;
  transition: 1s;
}
.social {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}
