main {
  background-color: bisque;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.contact-button {
  width: 100px;
  height: 35px;
  background-color: #f2a74f;
  border-radius: 10px;
}
.contact-input,
.contact-textarea {
  background-color: #f5c3ac;
}
.contact-button:hover {
  background-color: rgb (220, 126, 11);
}
.contacts-social {
  display: flex;
  justify-content: space-around;
  padding: 100px 300px 50px 300px;
}
.contacts-social-img {
  width: 50px;
  height: 50px;
}

.contacts-icon {
  background-color: coral;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.contacts-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
  background-color: aquamarine;
}
