p,
h1 {
  padding: 0px;
  margin: 0px;
}

p {
  width: 300px;
}

h1 {
  color: antiquewhite;
  background-color: blueviolet;
  text-align: center;
}

.main-most-wanted {
  background-color: #cacaf8;
  padding: 0px;
}

.p-brown {
  color: brown;
}

img {
  width: 300px;
}

.wanted {
  border: 1px solid black;
}

.content-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wanted {
  margin: 10px;
  transition: 1s;
}

.wanted:hover {
  cursor: pointer;
  transform: scale(1.5);
  background-color: blueviolet;
}
